# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

main

# Data Files
*.csv

# but keep the details and leave (for testing)
!employee_details.csv
!employee_leave.csv

# Other Stuff
/.vscode/
/.idea/
